@font-face {
    font-family: "font";
    src: url("../../assets/font/ANTIHIBB.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
} 

.bg {
    background-image: url('/assets/imgs/bg/hatter5.webp');
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

h1 {
    font-family: font, sans-serif;
    margin-top: 100px;
    color: white;
    text-align: center;
}

.container {
    padding: 50px;
    background-color: rgba(16, 174, 207, 0.3);
    width: 1250px;
    margin: auto;
    margin-top: 100px;
    border-radius: 5px;
    overflow: hidden;
}
  
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.col {
    text-align: center;
    padding: 20px;
}

.images {
    position: relative;
    overflow: hidden;
    box-shadow: 4px 4px 4px 8px rgba(0, 0, 0, 0.4);
}

.images img {
    max-width: 100%;
    height: auto;
    display: block;
}  

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 148, 174, 0.735);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}
  
.images:hover .overlay {
    background-color: rgba(16, 175, 207, 0.778);
    opacity: 1;
}
  
.overlay p {
    color: white;
    font-family: font, sans-serif;
    margin-bottom: 10px;
}
  
.overlay button {
    margin-top: 100px;
    background-color: white;
    color: #10aecf ;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: font, sans-serif;
    border: none;
    border-radius: 50px;
    text-align: center;
    align-items: center;
}

  
  