<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"> 
<div class="bg"></div>

<h1>kapcsolat</h1>

<div class="text">
  Amennyiben érdekel a képregény és szeretnél beszerezni belőle vagy kérdésed van a kötetekkel kapcsolatban,
  megtalálsz minket a lentebb látható közösségi platformon, ahol lehetőséged van üzenetet küldeni nekünk. 
  lentebb megtalálhatod nyilvános email címünket is,
  de ha szeretnél üzenhetsz nekünk az üzenődobozban. <br>
  
  <div class="contact-text">
    email cím <br>
    telefonszám
  </div>

</div>



<div class="social-icons">
  <a href="https://www.facebook.com/sorapuffide">
    <i class="fa-brands fa-facebook-f" style="font-size:30px; color: white;"></i>
  </a>
    
  <a href="https://www.instagram.com/sorajumps/">
    <i class="fa-brands fa-instagram" style="font-size:30px; color: white;"></i>
  </a>
   

  </div>