<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"> 
<div class="bg"></div>

<h1>kapcsolat</h1>

<div class="contaner">

  <div class="one">
    <div class="text">
      Amennyiben érdekel a képregény és szeretnél beszerezni belőle vagy kérdésed van a kötetekkel kapcsolatban,
      megtalálsz minket a lentebb látható közösségi platformon, ahol lehetőséged van üzenetet küldeni nekünk. 
      lentebb megtalálhatod nyilvános email címünket is,
      de ha szeretnél üzenhetsz nekünk az üzenődobozban. <br>
      
      <p class="email">
        email cím:
      </p>
      <p class="phone">
        telefonszám:
      </p>
      <!-- <div class="contact-text">
        email cím: <br>
        telefonszám:
      </div> -->
    
    </div>
    
    <div class="social-icons">
      <a href="https://www.facebook.com/sorapuffide">
        <i class="fa-brands fa-facebook-f" style="font-size:30px; color: white;"></i>
      </a>
        
      <a href="https://www.instagram.com/sorajumps/">
        <i class="fa-brands fa-instagram" style="font-size:30px; color: white;"></i>
      </a>
       
    
    </div>
  </div>
  
  <div class="write">
    <div class="row">
      <!-- <p>Nev</p> -->
      <input type="text" class="name" placeholder="Nev">
      <!-- <p>Last Nev</p> -->
      <input type="text" class="last" placeholder="Last name">
    </div>
    <div class="row">
      <!-- <p>Email</p> -->
      <input type="text" class="email" placeholder="Email">
      <!-- <p>Targy</p> -->
      <input type="text" class="object" placeholder="Targy">
    </div>
    <div class="row">
      <input type="text" class="email-text" placeholder="Irj uzenetet..">
    </div>
    <button>Kuldes</button>
  </div>
  
</div>
